<div class="px-4 sm:px-6 lg:px-8">
  <%= render "shared/header_with_primary_secondary_buttons", title: @team.name, subtitle: "Team", description: "A list of all the email addresses that have been invited to your team. Each person that accepts an invitation to your team has access to all the same players.", secondary_text: "Edit", secondary_path: edit_team_path(@team), primary_text: "Invite", primary_path: new_invite_path, button: false %>
  <div class="mt-8 flow-root">
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        <%= render(TableComponent.new) do %>
          <thead>
            <tr>
              <%= render(TableHeaderFirstColumnComponent.new(text: "Email")) %>
              <%= render(TableHeaderComponent.new(text: "Invited by")) %>
              <%= render(TableHeaderComponent.new(text: "Status")) %>
            </tr>
          </thead>
          <%= render(TableBodyComponent.new) do %>
            <% @invites.each do |invite| %>
              <tr>
                <%= render(TableDataBoldComponent.new(data: invite.email)) %>
                <%= render(TableDataComponent.new(data: invite.user_email)) %>
                <%= render(TableDataComponent.new(data: "")) do %>
                  <% if invite.accepted? %>
                    <%= render(GreenBubbleComponent.new(text: "Accepted")) %>
                  <% elsif invite.expired? %>
                    <%= render(RedBubbleComponent.new(text: "Expired")) %>
                  <% else %>
                    <%= render(YellowBubbleComponent.new(text: "Pending")) %>
                  <% end %>
                <% end %>
              </tr>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
