<% if @admin.nil? %>
  <nav class="bg-white shadow">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
      <div class="relative flex h-16 justify-between">
        <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
          <div class="sm:ml-6 sm:flex sm:space-x-8">
            <%= link_to root_path, class: "inline-flex items-center border-b-2 border-transparent px-1 pt-1 text-sm font-medium hover:border-gray-300" do %>
              <div class="flex flex-shrink-0 items-baseline">
                <%= render(LogoComponent.new) %>
              </div>
            <% end %>
            <% if @current_user %>
              <%= render "shared/navbar_link", title: "Players", path: players_path %>
              <%= render "shared/navbar_link", title: "Team", path: team_path %>
              <%= render "shared/navbar_link", title: "Settings", path: settings_path %>
              <% if @current_user.admin? %>
                <%= render "shared/navbar_link", title: "Admin", path: admin_path %>
              <% end %>
              <%= link_to "Logout", login_path, data: { "turbo-method": :delete }, class: "inline-flex items-center border-b-2 border-transparent px-1 pt-1 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700" %>
              <% if @current_player %>
                <%= render "shared/navbar_link", title: "#{@current_player.name}'s scores", path: player_path(@current_player) %>
              <% end %>
            <% else %>
              <%= render "shared/navbar_link", title: "Login", path: new_login_path %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </nav>
<% end %>
