<div class="bg-white">
  <div class="relative isolate px-6 pt-14 lg:px-8">
    <%= render "better_hero" %>
    <%= render "features_section" %>
    <%= render "simple_call_to_action_section" %>
    <%= render "stats_section" %>
    <%= render "color_call_to_action_section" %>
  </div>
</div>
