<div class="px-4 sm:px-6 lg:px-8">
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <%= render "shared/header_with_primary_secondary_buttons", title: @current_user.email, subtitle: "User settings", description: "All of your settings.", secondary_text: "One time password", secondary_path: new_one_time_password_path, primary_text: "Edit", primary_path: edit_settings_path, button: false %>
    </div>
  </div>
  <div class="mt-8 flow-root">
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        <table class="min-w-full divide-y divide-gray-300">
          <thead>
            <tr>
              <th scope="col" class="w-full sm:w-1/4 py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0">Invoice</th>
              <th scope="col" class="hidden sm:table-cell px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Amount</th>
              <th scope="col" class="hidden sm:table-cell px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Date</th>
              <th scope="col" class="hidden sm:table-cell px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Status</th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200">
            <% @orders.each do |order| %>
              <tr>
                <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm hover:font-bold font-medium text-cyan-600 sm:pl-0">
                  <div class="flex">
                    <%= link_to "Invoice", order.hosted_invoice_url, target: :_blank %>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4">
                      <path fill-rule="evenodd" d="M4.22 11.78a.75.75 0 0 1 0-1.06L9.44 5.5H5.75a.75.75 0 0 1 0-1.5h5.5a.75.75 0 0 1 .75.75v5.5a.75.75 0 0 1-1.5 0V6.56l-5.22 5.22a.75.75 0 0 1-1.06 0Z" clip-rule="evenodd" />
                    </svg>
                  </div>
                </td>
                <td class="hidden sm:table-cell whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                  <%= number_to_currency(order.amount_total / 100.0) %>
                </td>
                <td class="hidden sm:table-cell whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                  <%= order.created_at.to_date.to_formatted_s(:long) %>
                </td>
                <td class="hidden sm:table-cell whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                  <% if order.payment_status == "paid" %>
                    <span class="inline-flex items-center rounded-full bg-green-100 px-2 py-1 text-xs font-medium text-green-700">Paid</span>
                  <% else %>
                    <span class="inline-flex items-center rounded-full bg-red-100 px-2 py-1 text-xs font-medium text-red-700">
                      <%= order.payment_status.titlecase %>
                    </span>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
