<div class="px-4 sm:px-6 lg:px-8">
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <%= render "shared/form_header", title: "Players", subtitle: "Team: #{@current_user.team.name}'s", description: "Players are most likely your kids, but can be anyone who wants to play the DoMath.io game. Your user can have many players. All stats and settings are player specific." %>
    </div>
    <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
      <%= render(PrimaryLinkButtonComponent.new(text: "Add player", path: new_player_path)) %>
    </div>
  </div>
  <div class="mt-8 flow-root">
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        <%= render(TableComponent.new) do %>
          <thead>
            <tr>
              <%= render(TableHeaderFirstColumnComponent.new(text: "Name")) %>
              <%= render(TableHeaderComponent.new(text: "Problems solved")) %>
              <%= render(TableHeaderComponent.new(text: "Consecutive days played")) %>
              <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-0">
                <span class="sr-only">Play</span>
              </th>
              <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-0">
                <span class="sr-only">Edit</span>
              </th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200">
            <% @players.each do |player| %>
              <tr>
                <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-0">
                  <%= link_to player.name, player_path(player) %>
                  <dl class="sm:hidden">
                    <%= render(TinyTableDatumComponent.new(title: "Problems solved", value: Commands::GetTotalProblemsSolved.call(player: player).problems_solved)) %>
                    <%= render(TinyTableDatumComponent.new(title: "Consecutive days played", value: Commands::GetConsecutiveDaysPlayed.call(player: player))) %>
                  </dl>
                </td>
                <td class="hidden sm:table-cell whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                  <%= Commands::GetTotalProblemsSolved.call(player: player).problems_solved %>
                </td>
                <td class="hidden sm:table-cell whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                  <%= Commands::GetConsecutiveDaysPlayed.call(player: player) %>
                </td>
                <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-0">
                  <%= render(SmallButtonComponent.new(label: "Edit", primary: false, path: edit_player_path(player), method: :get)) %>
                </td>
                <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-0">
                  <%= render(SmallButtonComponent.new(label: "Play", primary: true, path: sessions_path(player_id: player.id), method: :post)) %>
                </td>
              </tr>
            <% end %>
          </tbody>
        <% end %>
      </div>
    </div>
  </div>
</div>