<div class="mx-auto max-w-7xl mt-4 px-4 sm:px-6 lg:px-8">
  <div class="mt-8 px-4 sm:px-6 lg:px-8">
    <div class="md:flex md:items-center md:justify-between">
      <div class="min-w-0 flex-1">
        <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight"><%= @player.name %></h2>
      </div>
      <div class="mt-4 flex md:ml-4 md:mt-0">
        <%= link_to "Edit", edit_player_path(@player), class: "inline-flex items-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50" %>
        <%= button_to "Play", sessions_path(player_id: @player.id), method: :post, class: 'ml-3 inline-flex items-center rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600' %>
      </div>
    </div>
    <div class="border-b border-gray-200 pb-5 my-5">
      <div class="sm:flex sm:items-baseline sm:justify-between">
        <div class="sm:w-0 sm:flex-1">
          <div class="flex justify-start gap-2">
            <span class="inline-flex items-center rounded-md bg-green-50 px-2 py-1 text-xs font-medium text-green-700 ring-1 ring-inset ring-green-600/20">Active</span>
            <h1 id="message-heading" class="text-base font-semibold leading-6 text-gray-900">Problems</h1>
          </div>
          <p class="mt-1 truncate text-sm text-gray-500">
            <%= "#{@player.name}'s current practice problems" %>
          </p>
        </div>
      </div>
    </div>
    <div class="grid grid-cols-3 gap-3">
      <% @active_problem_groups.each do |grouping| %>
        <div class="overflow-hidden rounded-lg bg-white shadow">
          <div class="px-4 py-5 sm:p-6">
            <% grouping.each do |problem| %>
              <span class="inline-flex items-center gap-x-1.5 rounded-full px-2 py-1 text-xs font-medium text-gray-900 ring-1 ring-inset ring-gray-200">
                <%= problem %>
              </span>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="sm:flex sm:items-center mt-4">
      <div class="sm:flex-auto">
        <h1 class="text-base font-semibold leading-6 text-gray-900">Statistics</h1>
        <p class="mt-2 text-sm text-gray-700">A list of of <%= @player.name %>'s detailed statistics.</p>
      </div>
    </div>
    <div class="mt-8 flow-root">
      <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
          <table class="min-w-full divide-y divide-gray-300">
            <thead>
              <tr>
                <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0">Problem</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Times seen</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Percent correct</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Minimum seconds to answer</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Maximum seconds to answer</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Average seconds to answer</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Status</th>
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-200">
              <% @statistics.each do |statistic| %>
                <tr>
                  <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-0">
                    <%= statistic.display_problem %>
                  </td>
                  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                    <%= statistic.total_responses %>
                  </td>
                  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                    <%= statistic.percent_correct.to_s + " %" %>
                  </td>
                  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                    <%= statistic.min_time %>
                  </td>
                  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                    <%= statistic.max_time %>
                  </td>
                  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                    <%= statistic.average_time %>
                  </td>
                  <td class="whitespace-nowrap px-3 py-5 text-sm text-gray-500">
                    <span class="inline-flex items-center rounded-md bg-green-50 px-2 py-1 text-xs font-medium text-green-700 ring-1 ring-inset ring-green-600/20">Active</span>
                  </td>
                </tr>
              <% end%>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
