<%= render(FormHeaderComponent.new(title: "Users", description: "A list of all users in the app.", subtitle: "Admin")) %>
<%= render(TableComponent.new) do %>
  <thead>
    <tr>
      <%= render(TableHeaderFirstColumnComponent.new(text: "Name")) %>
      <%= render(TableHeaderComponent.new(text: "Team")) %>
      <%= render(TableHeaderComponent.new(text: "Last signed in at")) %>
      <%= render(TableHeaderComponent.new(text: "Created at")) %>
    </tr>
  </thead>
  <tbody class="divide-y divide-gray-200">
    <% @users.each do |user| %>
      <tr class="hover:bg-gray-50">
        <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 hover:text-cyan-700 sm:pl-0">
          <%= link_to user.email, admin_user_path(user) %>
        </td>
        <td class="hidden sm:table-cell whitespace-nowrap px-3 py-4 text-sm text-gray-500">
          <%= user.team.name %>
        </td>
        <td class="hidden sm:table-cell whitespace-nowrap px-3 py-4 text-sm text-gray-500">
          <%= time_ago_in_words(user.last_sign_in_at) %> ago
        </td>
        <td class="hidden sm:table-cell whitespace-nowrap px-3 py-4 text-sm text-gray-500">
          <%= time_ago_in_words(user.created_at) %> ago
        </td>
      </tr>
    <% end %>
  </tbody>
<% end %>