<!DOCTYPE html>
<html>
  <head>
    <title>Game</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <main class="mx-auto">
      <%= render "shared/navbar" %>
      <section>
        <%= render partial: "shared/flash", locals: {category: :notice} %>
        <%= render partial: "shared/flash", locals: {category: :error} %>
      </section>
      <div class="mx-auto max-w-7xl mt-4 px-4 sm:px-6 lg:px-8">
        <%= yield %>
      </div>
      <%= render "shared/footer" %>
    </main>
  </body>
</html>
